.sideBar
  .sideBar__header
    
  .sideBar__user-profile
    .sideBar__user-header
      .sideBar__user-icon
      .sideBar__user-info
        .sideBar__user-name
        .sideBar__user-box

  .sideBar__stream
    .sideBar__stream-tile
      .sideBar__stream-icon
      .sideBar__stream-info_
      

  
