.sideBar
  .sideBar__header
    booking_muscle
  .sideBar__user-profile 

    .sideBar__user-header

      .sideBar__user-icon
        □
      .sideBar__user-info
        .sideBar__user-name
          toshiki.kato
        .sideBar__user-box
          kitahama-box

  .sideBar__stream
    .sideBar__stream-tile
      .sideBar__stream-icon
      .sideBar__stream-info_
      

  
