.AccountPage{
  background-color: #EFEFEF;
  height: 100vh;
  width: 100vw;
  text-align: center;
  
  
  
  &__title{
   height: 200px;
   width: 100%;
   font-size: 30px;
   color: orange;
   display: grid;
   place-items: center;
   
  }
  
  h2{
    height: 40px;
    font-size: 40px;
    color: orange;
    margin-top: 10px;
    
  }

  h5{
    
  }

  &__form{
    
    
    

  }
  &__inner--icon{
    
    
    

  }
  &__inner--icon__label{
    
    
  }
  &__inner--icon__input{
    
    
   

  }
  &__inner--icon__input__image {
    
    
  }
  &__inner--icon__input__image2 {
  
  }
  &__inner--user-form{
    color: orange;
  }
  .FormField{
    color: orange;
    font-size: 20px;
    
  }
  
  &__label--normal{
    
  }
  &__input--normal{

  }
  .Button {
    font-size: 15px;
  
   
  }
  .UserButton{

  }
}